<!DOCTYPE html>
<html lang="en">
<head>
  <title>云象区块链</title>
  <meta charset=utf-8 />
  <meta http-equiv=X-UA-Compatible content="IE=edge"/>
  <meta name=viewport content="width=device-width, initial-scale=1.0" />
  <meta name=description content=云象区块链/>
  <meta name=keywords content=云象网络,云象科技,云象区块链,区块链,云象链,云象联盟链,云象区块链/>
  <meta name=author content=云象区块链 />
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="index.css" />
</head>
<body>

<div id="root"></div>

<script src="super/common.js"></script>
<script src="super/index.js"></script>

</body>
</html>
